<header class="header">
  <div class="container">
    <div class="links">
      <img
        src="https://www.viajanet.com.br/static/assets/platform/img/logo.svg;wa-prod647dd6c977ad3189"
        alt="logo"
        class="logo--image"
      />
      <a href="#">Passagens Aéreas</a>
      <a href="#">Pacotes de Viagem</a>
      <a href="#">Hotéis</a>
      <a href="#">Carros</a>
      <a href="#">Carros</a>
      <a href="#">Seguros</a>
      <a href="#">Quando Viajar</a>
      <a href="#">Atendimento</a>
    </div>
    <div class="contact">
      <a href="#">Acesse ou Crie sua conta</a>
      |
      <a href="#">Ligue</a>
    </div>
  </div>
</header>
