<section class="main__form">
  <div class="form__wrapper">
    <form>
      <h1>Encontre os melhores preços e boa viagem!</h1>
      <label class="radio__label">
        Só ida
        <input type="radio" name="route" />
      </label>
      <label class="radio__label">
        Ida e volta
        <input type="radio" name="route" />
      </label>
      <label class="radio__label">
        Vários Destinos
        <input type="radio" name="route" />
      </label>
      <br />
      <label class="from__label">
        Origem
        <input type="text" />
      </label>
      <label class="destination__label">
        Destino
        <input type="text" />
      </label>
    </form>
  </div>
</section>
